/* You can add global styles to this file, and also import other style files */

.body {
  background-color: #f4a460;
  margin: 0;
}

.page {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
}